<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Dancing+Script|Kaushan+Script|Playball|Lobster+Two|Courgette|Nothing+You+Could+Do|Fredericka+the+Great|Megrim|Metamorphous|Italianno|Tulpen+One|Bilbo|Astloch|Spirax|Galdeano' rel='stylesheet' type='text/css'>

<div class="main_color">
  <header id="home_page_background">
  </header>

  <h1>Andelin's classic pecan rolls combine hand-made caramel, velvety pinoche fudge, and crispy toasted pecans in every bite.</h1>


 <% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>Download the book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <h3 id="pecan_roll_image">Order now!</h3>
  <article>
    <label class="amount" id="pecan_roll_image">
      <%= image_tag 'pecan_roll_edit.jpg', size: '200x200' %>
      <div><%= Rails.application.secrets.product_title %></div>
      <span><%= number_to_currency(Rails.application.secrets.product_price.to_f/100) %></span>
    </label>
    <%= render :partial => 'purchase' %>
  </article>
<% end %>

</div>
